body {
  background: #000;
  padding: 0;
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 30px;
}

/* Navbar --------------------------------------- */

.ul-navbar {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.li-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.li-navbar-button {
  background: #1e1e1e;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.li-navbar-button:hover {
  background: #444348;
}

/* Home, colonna liste recenti ------------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.preview-lista {
  background-color: #1e1e1e;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.preview-lista:hover {
  background-color: #444348;
}

.crea-lista-plus {
  margin: auto;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 60px;
  text-align: center;
}

ul {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
}

/*header styling*/

#Pricepal-title {
  /*font color orange*/
  color: #ff8c00;

}

#disposizione-header {
  /*disponi gli i due elementi del div orizzontalmente ai lati opposti dello schermo*/
  /**/
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 20px;

}

#disposizione-accountbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

#img-IconaUtente {
  /*dimensione icona utente*/
  width: 50px;
  height: 50px;
}

/*gestione account*/

.container-gestioneaccount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gestioneaccount-button {
  padding: 10px;
  text-align: center;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
}