body {
  background: #000;
  padding: 0;
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 30px;
  margin: 0px;
}

/* Navbar --------------------------------------- */

.ul-navbar {
  padding: 0px;
  margin: 0px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.li-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.li-navbar-button {
  background: #1e1e1e;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.li-navbar-button:hover {
  background: #444348;
}

/* Home, colonna liste recenti ------------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.preview-lista {
  background-color: #1e1e1e;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.preview-lista:hover {
  background-color: #444348;
}

.crea-lista-plus {
  margin: auto;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
}

ul {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
}

/*header styling*/

#Pricepal-title {
  /*font color orange*/
  color: #ff5716;
  font-size: 40px;

}

#disposizione-header {
  /*disponi i due elementi del div orizzontalmente ai lati opposti dello schermo*/
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 20px;
  color: #9a9ba0;
}

#disposizione-accountbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

#img-IconaUtente {
  /*dimensione icona utente*/
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

/*gestione account*/

.container-gestioneaccount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gestioneaccount-button {
  padding: 10px;
  text-align: center;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
}


/*Pagina iniziale*/

#titolo-paginainiziale {
  color: #ff5716;
  font-size: 120px;
  text-align: center;
  /*underline the text*/
  text-decoration: underline;
  margin: 2%;
  margin-bottom: 5px;
}

#sottotitolo-paginainiziale {
  color: #9a9ba0;
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
}

#box-paginainiziale {
  /*put the box in the center*/
  margin: auto;
  width: 50%;
  text-align: center;
  background-color:#1e1e1e;
  border-radius: 10px;
  /*dispose the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-paginainiziale {
  background-color: #444348;
  color: white;
  padding: 0px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  /*remove the button styling*/
  border: none;
  outline: none;
  /*make the text bolder and bigger*/
  font-weight: bold;
  font-size: 30px;
}